@keyframes colorChange {
  0% { background-color: #1B1B1B; }
  50% { background-color: #000020; }
  100% { background-color: #1B1B1B; }
}

/* body {
  background-color: #282828;
  animation: colorChange 6s infinite;
} */

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #1B1B1B, #2F2F2F);
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
    font: roboto;
    text-align: center;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.header {
  margin: 0.5em;
  padding: 0.5em;
  margin-top: 30vh;
  font-size: 1em;
  width: 200px;
  text-align: left;
}

.about-title {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;
  width: 100px;
}

.about-content {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;
  width: 30vw;
  text-align: left;
}

.links-container {
  display: flex;
  flex-direction: row;
}

.links-title {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;
  width: 100px;
}

.links-content {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.link-item {
  margin-right: 10px;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  text-decoration: None;
}

.title {
  text-align: left;
}

.welcome-container {
  display: flex;
  flex-direction: row;

  margin-top: 20vh;
}

.welcome-title {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;

  width: 100px;
}

.welcome-content {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;
  text-align: left;
}

.content {
  width: 30vw;
}

@media only screen and (max-width: 1100px) {
  .content {
    width: 40vw;
  }

  .welcome-container {
    margin-top: 15vw;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    width: 45vw;
  }

  .welcome-container {
    margin-top: 13vw;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    width: 50vw;
  }

  .welcome-container {
    margin-top: 10vw;
  }
}


@media only screen and (max-width: 380px) {
  .content {
    width: 60vw;
  }
}